<section class="main__section">
  <div class="container main__section--wrapper">
    <div class="content">
      <h2 class="content__title">Suchergebnisse</h2>
      <div class="cards">
        <app-card />
        <app-card />
        <app-card />
        <app-card />
        <app-card />
        <app-card />
        <app-card />
        <app-card />
        <app-card />
      </div>
    </div>
    <aside class="sidebar">
      <div class="sidebar__content">
        <h2 class="sidebar__title">Sammlungen von Filmen und Serien</h2>
      </div>
        <footer class="sidebar__footer">
        <p>&copy; Movieclick LLC, 2024</p>
      </footer>
    </aside>
  </div>
</section>
<router-outlet />
