.main__section {
  position: relative;
  margin-top: 2rem;
  height: 70vh;
}

.main__section--wrapper {
  display: flex;
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
  margin-right: 2rem;
  width: 852px;
}

.content {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.content__title {
  margin-bottom: 1.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sidebar__footer {

}

