<header class="header">
  <div class="container">
    <div class="header--inner">
      <div class="header__top">
        <a routerLink="/" class="logo">
          <h1 class="logo__title">Movieclicks</h1>
          <p class="logo__subtitle">Alles über TV-Serien</p>
        </a>
        <button type="button" class="btn header__menu--btn">
          <span class="burger__menu--icon"></span>
        </button>
        <a routerLink="/" class="header__login">Login und Registrierung</a>
      </div>
      <div class="search__bar">
        <input
          type="text"
          class="search__bar--input"
          placeholder="Was möchtest du sehen?"
        />
        <button class="btn btn__primary search__bar--btn">
          <img src="assets/img/icons/icon-search.svg" alt="find series" />
          <span>Finden</span>
        </button>
      </div>
    </div>
  </div>
</header>
